# Работа с текстовыми данными

## Практика - шаг 0 - Подготовка данных
- загрузите из файла **movie_reviews.csv** отзывы о кинофильмах
- выведите количество положительных и отрицательных отзывов
- получите новый признак - длина отзыва
- посчитайте корреляцию длины отзыва и позитивности отзыва
- обучите логистическую регрессию и посчитайте метрику правильности

In [ ]:
import pandas as pd
import numpy as np
import string

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
df = pd.read_csv('movie_reviews.csv')
df.head()

                                              review  positive
0  tristar / 1 : 30 / 1997 / r ( language , viole...         0
1  arlington road 1/4 . directed by mark pellingt...         0
2  the brady bunch movie is less a motion picture...         0
3  janeane garofalo in a romantic comedy -- it wa...         0
4  i'm going to keep this plot summary brief , so...         0

In [ ]:
df['review'][0]

'tristar / 1 : 30 / 1997 / r ( language , violence , dennis rodman ) cast : jean-claude van damme ; mickey rourke ; dennis rodman ; natacha lindinger ; paul freeman director : tsui hark screenplay : dan jakoby ; paul mones ripe with explosions , mass death and really weird hairdos , tsui hark\'s " double team " must be the result of a tipsy hollywood power lunch that decided jean-claude van damme needs another notch on his bad movie-bedpost and nba superstar dennis rodman should have an acting career . actually , in " double team , " neither\'s performance is all that bad . i\'ve always been the one critic to defend van damme -- he possesses a high charisma level that some genre stars ( namely steven seagal ) never aim for ; it\'s just that he\'s never made a movie so exuberantly witty since 1994\'s " timecop . " and rodman . . . well , he\'s pretty much rodman . he\'s extremely colorful , and therefore he pretty much fits his role to a t , even if the role is that of an ex-cia weapons expert . it\'s the story that needs some major work . van damme plays counter-terrorist operative jack quinn , who teams up with arms dealer yaz ( rodman ) to rub out deadly gangster stavros ( mickey rourke , all beefy and weird-looking ) in an antwerp amusement park . the job is botched when stavros\' son gets killed in the gunfire , and quinn is taken off to an island known as " the colony " -- a think tank for soldiers " too valuable to kill " but " too dangerous to set free . " quinn escapes and tries to make it back home to his pregnant wife ( natacha lindinger ) , but stavros is out for revenge and kidnaps her . so , what\'s a kickboxing mercenary to do ? quinn looks up yaz and the two travel to rome so they can rescue the woman , kill stavros , save the world and do whatever else the screenplay requires them to do . with crazy , often eye-popping camera work by peter pau and rodman\'s lite brite locks , " double team " should be a mildly enjoyable guilty pleasure . but too much tries to happen in each frame , and the result is a movie that leaves you exhausted rather than exhilarated . the numerous action scenes are loud and headache-inducing and the frenetic pacing never slows down enough for us to care about what\'s going on in the movie . and much of what\'s going on is just wacky . there\'s a whole segment devoted to net-surfing monks that i have yet to figure out . and the climax finds quinn going head-to-head with a tiger in the roman coliseum while yaz circles them on a motorcycle , trying to avoid running over land mines and hold on to quinn\'s baby boy ( who\'s in a bomb equipped basket ) -- all this while stavros watches shirtless from the bleachers . did i mention " double team " is strange ? when it all comes down , this is just another rarely entertaining formula killathon , albeit one that feels no need to indulge in gratuitous profanity . rodman juices things up with his blatantly vibrant screen persona , though , leading up to a stunt where he kicks an opponent between the legs . but we didn\'t need " double team " to tell us he could do that , did we ? © 1997 jamie peck e-mail : jpeck1@gl . umbc . edu visit the reel deal online : http : //www . gl . umbc . edu/~jpeck1/ \n'

In [ ]:
df['positive'].value_counts()

0    700
1    700
Name: positive, dtype: int64

In [ ]:
df['len'] = df['review'].apply(len)
df

                                                 review  positive   len
0     tristar / 1 : 30 / 1997 / r ( language , viole...         0  3215
1     arlington road 1/4 . directed by mark pellingt...         0  6144
2     the brady bunch movie is less a motion picture...         0  1768
3     janeane garofalo in a romantic comedy -- it wa...         0  3211
4     i'm going to keep this plot summary brief , so...         0  6864
...                                                 ...       ...   ...
1395  one of the last entries in the long-running ca...         1  2663
1396  hype ? sheesh , like no other . this side of t...         1  2206
1397  for those of us who weren't yet born when the ...         1  3032
1398  what starts out as a monotonous talking-head m...         1  3373
1399  jackie brown ( miramax - 1997 ) starring pam g...         1  6763

[1400 rows x 3 columns]

In [ ]:
df['positive'].corr(df['len'])

0.1296155774988609

In [ ]:
lr = LogisticRegression().fit(df.loc[:, 'len':'len'], df['positive'])
y_pred = lr.predict(df.loc[:, 'len':'len'])
accuracy_score(df['positive'], y_pred)

ValueError: ignored

In [ ]:
y_pred[y_pred == 0], y_pred[y_pred == 1]

(array([], dtype=int64), array([1, 1, 1, ..., 1, 1, 1]))

## Практика - шаг 1 - Мешок слов
- сформируйте "мешок слов" с помощью CountVectorizer
- выведите получившийся словарь и его длину
- получите матрицу признаков и посмотрите на ее представление

In [ ]:
# your code here

In [ ]:
vec = CountVectorizer()
X_vect = vec.fit_transform(df['review'])
y = df['positive']
X_vect

<1400x35590 sparse matrix of type '<class 'numpy.int64'>'
	with 473956 stored elements in Compressed Sparse Row format>

In [ ]:
X_vect.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 2, 0, ..., 0, 0, 0]])

In [ ]:
vec.vocabulary_

{'tristar': 32540,
 '30': 295,
 '1997': 232,
 'language': 17949,
 'violence': 34017,
 'dennis': 8420,
 'rodman': 26819,
 'cast': 5108,
 'jean': 16927,
 'claude': 5925,
 'van': 33684,
 'damme': 7860,
 'mickey': 20111,
 'rourke': 26983,
 'natacha': 21180,
 'lindinger': 18522,
 'paul': 23086,
 'freeman': 12631,
 'director': 8945,
 'tsui': 32638,
 'hark': 14375,
 'screenplay': 27732,
 'dan': 7877,
 'jakoby': 16851,
 'mones': 20580,
 'ripe': 26681,
 'with': 34981,
 'explosions': 11270,
 'mass': 19533,
 'death': 8049,
 'and': 1554,
 'really': 25523,
 'weird': 34568,
 'hairdos': 14179,
 'double': 9559,
 'team': 31384,
 'must': 21019,
 'be': 2954,
 'the': 31658,
 'result': 26350,
 'of': 22007,
 'tipsy': 31994,
 'hollywood': 15047,
 'power': 24227,
 'lunch': 18942,
 'that': 31653,
 'decided': 8110,
 'needs': 21292,
 'another': 1671,
 'notch': 21689,
 'on': 22122,
 'his': 14945,
 'bad': 2602,
 'movie': 20839,
 'bedpost': 3040,
 'nba': 21243,
 'superstar': 30802,
 'should': 28457,
 'have': 14491,
 'an': 1517,
 'acting': 824,
 'career': 4970,
 'actually': 848,
 'in': 15879,
 'neither': 21337,
 'performance': 23291,
 'is': 16727,
 'all': 1290,
 've': 33750,
 'always': 1385,
 'been': 3058,
 'one': 22131,
 'critic': 7486,
 'to': 32039,
 'defend': 8207,
 'he': 14537,
 'possesses': 24146,
 'high': 14868,
 'charisma': 5436,
 'level': 18338,
 'some': 29341,
 'genre': 13153,
 'stars': 29970,
 'namely': 21129,
 'steven': 30122,
 'seagal': 27793,
 'never': 21397,
 'aim': 1161,
 'for': 12379,
 'it': 16769,
 'just': 17275,
 'made': 19081,
 'so': 29227,
 'exuberantly': 11366,
 'witty': 35005,
 'since': 28700,
 '1994': 229,
 'timecop': 31941,
 'well': 34594,
 'pretty': 24459,
 'much': 20890,
 'extremely': 11356,
 'colorful': 6285,
 'therefore': 31705,
 'fits': 12046,
 'role': 26838,
 'even': 10986,
 'if': 15604,
 'ex': 11042,
 'cia': 5783,
 'weapons': 34500,
 'expert': 11230,
 'story': 30260,
 'major': 19171,
 'work': 35110,
 'plays': 23814,
 'counter': 7217,
 'terrorist': 31595,
 'operative': 22211,
 'jack': 16814,
 'quinn': 25149,
 'who': 34756,
 'teams': 31389,
 'up': 33494,
 'arms': 2013,
 'dealer': 8034,
 'yaz': 35316,
 'rub': 27022,
 'out': 22404,
 'deadly': 8028,
 'gangster': 12947,
 'stavros': 30020,
 'beefy': 3053,
 'looking': 18756,
 'antwerp': 1732,
 'amusement': 1510,
 'park': 22922,
 'job': 17060,
 'botched': 3952,
 'when': 34679,
 'son': 29363,
 'gets': 13224,
 'killed': 17546,
 'gunfire': 14063,
 'taken': 31206,
 'off': 22009,
 'island': 16747,
 'known': 17690,
 'as': 2102,
 'colony': 6279,
 'think': 31749,
 'tank': 31270,
 'soldiers': 29304,
 'too': 32127,
 'valuable': 33672,
 'kill': 17544,
 'but': 4616,
 'dangerous': 7894,
 'set': 28100,
 'free': 12623,
 'escapes': 10860,
 'tries': 32508,
 'make': 19178,
 'back': 2566,
 'home': 15060,
 'pregnant': 24352,
 'wife': 34815,
 'revenge': 26453,
 'kidnaps': 17523,
 'her': 14761,
 'what': 34664,
 'kickboxing': 17502,
 'mercenary': 19980,
 'do': 9334,
 'looks': 18759,
 'two': 32764,
 'travel': 32418,
 'rome': 26877,
 'they': 31725,
 'can': 4831,
 'rescue': 26220,
 'woman': 35034,
 'save': 27431,
 'world': 35126,
 'whatever': 34665,
 'else': 10335,
 'requires': 26212,
 'them': 31675,
 'crazy': 7385,
 'often': 22044,
 'eye': 11371,
 'popping': 24059,
 'camera': 4800,
 'by': 4653,
 'peter': 23428,
 'pau': 23085,
 'lite': 18592,
 'brite': 4272,
 'locks': 18680,
 'mildly': 20174,
 'enjoyable': 10600,
 'guilty': 14032,
 'pleasure': 23839,
 'happen': 14324,
 'each': 9974,
 'frame': 12555,
 'leaves': 18165,
 'you': 35390,
 'exhausted': 11152,
 'rather': 25418,
 'than': 31644,
 'exhilarated': 11161,
 'numerous': 21797,
 'action': 825,
 'scenes': 27530,
 'are': 1946,
 'loud': 18816,
 'headache': 14540,
 'inducing': 16070,
 'frenetic': 12649,
 'pacing': 22693,
 'slows': 29016,
 'down': 9593,
 'enough': 10628,
 'us': 33575,
 'care': 4966,
 'about': 633,
 'going': 13516,
 'wacky': 34234,
 'there': 31701,
 'whole': 34764,
 'segment': 27906,
 'devoted': 8712,
 'net': 21374,
 'surfing': 30868,
 'monks': 20598,
 'yet': 35355,
 'figure': 11896,
 'climax': 6008,
 'finds': 11962,
 'head': 14539,
 'tiger': 31913,
 'roman': 26859,
 'coliseum': 6228,
 'while': 34697,
 'circles': 5825,
 'motorcycle': 20792,
 'trying': 32633,
 'avoid': 2481,
 'running': 27092,
 'over': 22497,
 'land': 17911,
 'mines': 20253,
 'hold': 15018,
 'baby': 2556,
 'boy': 4025,
 'bomb': 3805,
 'equipped': 10785,
 'basket': 2871,
 'this': 31766,
 'watches': 34432,
 'shirtless': 28387,
 'from': 12719,
 'bleachers': 3580,
 'did': 8790,
 'mention': 19965,
 'strange': 30303,
 'comes': 6346,
 'rarely': 25396,
 'entertaining': 10666,
 'formula': 12470,
 'killathon': 17545,
 'albeit': 1222,
 'feels': 11712,
 'no': 21570,
 'need': 21282,
 'indulge': 16073,
 'gratuitous': 13763,
 'profanity': 24610,
 'juices': 17215,
 'things': 31748,
 'blatantly': 3568,
 'vibrant': 33891,
 'screen': 27726,
 'persona': 23367,
 'though': 31785,
 'leading': 18131,
 'stunt': 30488,
 'where': 34683,
 'kicks': 17507,
 'opponent': 22223,
 'between': 3316,
 'legs': 18223,
 'we': 34483,
 'didn': 8796,
 'tell': 31477,
 'could': 7199,
 'jamie': 16859,
 'peck': 23149,
 'mail': 19150,
 'jpeck1': 17178,
 'gl': 13356,
 'umbc': 32856,
 'edu': 10110,
 'visit': 34060,
 'reel': 25762,
 'deal': 8033,
 'online': 22145,
 'http': 15303,
 'www': 35238,
 'arlington': 1993,
 'road': 26739,
 'directed': 8936,
 'mark': 19434,
 'pellington': 23203,
 'written': 35221,
 'ehren': 10182,
 'kruger': 17762,
 'photography': 23538,
 'bobby': 3749,
 'bukowski': 4462,
 'editing': 10097,
 'conrad': 6757,
 'buff': 4431,
 'production': 24601,
 'design': 8550,
 'therese': 31710,
 'deprez': 8488,
 'music': 21007,
 'angelo': 1596,
 'badalamenti': 2603,
 'producers': 24596,
 'samuelson': 27307,
 'tom': 32093,
 'gorai': 13589,
 'marc': 19371,
 'jeff': 16943,
 'bridges': 4223,
 'michael': 20095,
 'faraday': 11560,
 'tim': 31935,
 'robbins': 26765,
 'oliver': 22088,
 'lang': 17938,
 'joan': 17054,
 'cusack': 7735,
 'cheryl': 5569,
 'hope': 15155,
 'davis': 7993,
 'brooke': 4324,
 'wolfe': 35028,
 'robert': 26769,
 'gossett': 13615,
 'fbi': 11661,
 'agent': 1108,
 'whit': 34738,
 'carver': 5074,
 'mason': 19529,
 'gamble': 12921,
 'brady': 4056,
 'spencer': 29593,
 'treat': 32443,
 'clark': 5900,
 'grant': 13728,
 'stanley': 29937,
 'anderson': 1558,
 'dr': 9626,
 'archer': 1923,
 'scobee': 27660,
 'et': 10922,
 'al': 1203,
 'gems': 13110,
 'release': 25955,
 '117': 41,
 'minutes': 20294,
 'day': 8001,
 'after': 1087,
 'saw': 27451,
 'was': 34399,
 'reading': 25495,
 'new': 21403,
 'york': 35382,
 'times': 31952,
 'george': 13180,
 'vecsey': 33752,
 'analysis': 1530,
 'women': 35041,
 'soccer': 29247,
 'victory': 33921,
 'both': 3955,
 'paragon': 22876,
 'sports': 29723,
 'writers': 35215,
 'excellent': 11079,
 'author': 2413,
 'non': 21609,
 'books': 3868,
 'including': 15943,
 'loretta': 18791,
 'lynn': 19001,
 'coal': 6115,
 'miner': 20249,
 'daughter': 7977,
 'bestseller': 3292,
 'which': 34693,
 'became': 3018,
 'great': 13787,
 'quote': 25181,
 'now': 21747,
 'american': 1446,
 'hot': 15243,
 'then': 31682,
 'again': 1098,
 'america': 1445,
 'lives': 18621,
 'temporary': 31502,
 'diversion': 9296,
 'instant': 16344,
 'gratification': 13755,
 'pop': 24051,
 'groups': 13936,
 'sunglasses': 30743,
 'cars': 5050,
 'internet': 16479,
 'stocks': 30196,
 'might': 20149,
 'add': 870,
 'many': 19359,
 'other': 22384,
 'items': 16777,
 'movies': 20856,
 'such': 30639,
 'following': 12330,
 'received': 25596,
 'tbs': 31374,
 'announcement': 1652,
 'cable': 4688,
 'film': 11912,
 'first': 12019,
 'kidnapping': 17522,
 'president': 24419,
 'terrorists': 31596,
 'voltaire': 34142,
 'said': 27228,
 'god': 13478,
 'exist': 11171,
 'invented': 16603,
 'absence': 645,
 'useful': 33580,
 'big': 3370,
 'soviet': 29460,
 'bear': 2978,
 'predictably': 24322,
 'turned': 32702,
 'wide': 34794,
 'terrorism': 31594,
 'grown': 13946,
 'destroyers': 8599,
 'ambitious': 1427,
 'disappointing': 8980,
 'opus': 22258,
 'at': 2253,
 'washington': 34404,
 'university': 33255,
 'professor': 24620,
 'teaches': 31382,
 'courses': 7259,
 'widower': 34804,
 'federal': 11695,
 'cock': 6152,
 'being': 3118,
 'semi': 27961,
 'consoled': 6801,
 'graduate': 13682,
 'students': 30454,
 'makes': 19184,
 'friends': 12687,
 'neighbors': 21328,
 'begins': 3090,
 'suspect': 30927,
 'not': 21684,
 'architect': 1933,
 'claims': 5868,
 'leader': 18128,
 'open': 22191,
 'protracted': 24802,
 'unexplained': 33132,
 'sequence': 28039,
 'heavily': 14620,
 'bloodied': 3651,
 'badly': 2614,
 'burnt': 4568,
 'staggers': 29878,
 'street': 30346,
 'll': 18629,
 'fall': 11495,
 'dead': 8020,
 'rescued': 26221,
 'drives': 9745,
 'him': 14908,
 'hospital': 15227,
 'done': 9463,
 'skillful': 28820,
 'internal': 16475,
 'montage': 20621,
 'whose': 34783,
 'horror': 15203,
 'however': 15285,
 'does': 9376,
 'hide': 14857,
 'goofs': 13581,
 'improbabilities': 15853,
 'item': 16776,
 'close': 6052,
 'drop': 9757,
 'blood': 3648,
 'falls': 11502,
 'sneakers': 29158,
 'seconds': 27848,
 'later': 18021,
 'same': 27292,
 'sneaker': 29157,
 'has': 14434,
 'suburban': 30611,
 'flanked': 12103,
 'houses': 15273,
 'lawns': 18087,
 'cannot': 4876,
 'remember': 26023,
 'seeing': 27884,
 'any': 1739,
 'people': 23248,
 'around': 2023,
 'far': 11559,
 'convenient': 6967,
 'only': 22148,
 'driver': 9743,
 'notices': 21708,
 'kid': 17509,
 'predicament': 24317,
 'child': 5611,
 'rapidly': 25380,
 'goes': 13508,
 'apparent': 1798,
 'throes': 31831,
 'lightning': 18460,
 'fast': 11605,
 'recovery': 25685,
 'arm': 1996,
 'visible': 34055,
 'sign': 28607,
 'explanation': 11240,
 'condition': 6627,
 'given': 13351,
 'parents': 22916,
 'langs': 17946,
 'fireworks': 12014,
 'accident': 713,
 'artificial': 2084,
 'gimmick': 13313,
 'meet': 19877,
 'develop': 8671,
 'nice': 21452,
 'neighborly': 21327,
 'relations': 25941,
 'couple': 7243,
 'girls': 13339,
 'become': 3028,
 'best': 3286,
 'held': 14679,
 'reserve': 26244,
 'future': 12860,
 'nefarious': 21295,
 'purposes': 25003,
 'also': 1355,
 'dis': 8958,
 'alienating': 1279,
 'orphan': 22347,
 'disapproves': 8988,
 'papa': 22847,
 'girlfriend': 13333,
 'turning': 32704,
 'year': 35321,
 'old': 22074,
 'into': 16544,
 'regular': 25857,
 'fact': 11424,
 'worked': 35113,
 'plot': 23862,
 'ho': 14984,
 'hummer': 15383,
 'questioning': 25120,
 'kosher': 17722,
 'ness': 21371,
 'designer': 8553,
 'malls': 19221,
 'starts': 29980,
 'glimpse': 13412,
 'plans': 23778,
 'mall': 19215,
 'office': 22028,
 'building': 4454,
 'quick': 25130,
 'eyes': 11383,
 'look': 18750,
 'those': 31783,
 'getting': 13226,
 'house': 15263,
 'little': 18606,
 'door': 9501,
 'uncharacteristically': 32936,
 'pan': 22801,
 'faced': 11407,
 'suspicious': 30944,
 'excuses': 11126,
 'entering': 10659,
 'woolly': 35088,
 'minded': 20230,
 'dumb': 9858,
 'search': 27813,
 'thinking': 31751,
 'suspicions': 30943,
 'paranoid': 22898,
 'unbelievably': 32914,
 'obtuse': 21939,
 'naysayer': 21236,
 'friend': 12684,
 'cliche': 5985,
 'good': 13556,
 'person': 23366,
 'feverishly': 11821,
 'phoning': 23524,
 'discovery': 9052,
 'pay': 23105,
 'phone': 23518,
 'turns': 32706,
 'enemy': 10548,
 'standing': 29926,
 'improbable': 15855,
 'checking': 5511,
 'newspaper': 21429,
 'files': 11903,
 'suddenly': 30652,
 'appears': 1812,
 'behind': 3112,
 'obligatory': 21878,
 'unbelievable': 32913,
 'car': 4950,
 'chase': 5463,
 'impossible': 15825,
 'way': 34467,
 'chasers': 5466,
 'chased': 5464,
 'connect': 6729,
 'goof': 13575,
 'hit': 14958,
 'broadsides': 4293,
 'next': 21442,
 'side': 28569,
 'shown': 28491,
 'undamaged': 32981,
 'here': 14775,
 'eliminate': 10291,
 'dozens': 9624,
 'finale': 11944,
 'highly': 14877,
 'score': 27671,
 'point': 23927,
 'against': 1099,
 'guesses': 13997,
 'audiences': 2371,
 'conditioned': 6628,
 'vs': 34205,
 'evil': 11023,
 'flicks': 12188,
 'won': 35043,
 'disclose': 9021,
 'script': 27751,
 'name': 21125,
 'evoking': 11032,
 'red': 25713,
 'white': 34740,
 'blue': 3685,
 'patriotism': 23066,
 'wastes': 34421,
 'money': 20583,
 'technical': 31410,
 'talent': 31216,
 'during': 9909,
 'its': 16782,
 'hours': 15262,
 'nothing': 21700,
 'sense': 27991,
 'artsy': 2097,
 'arty': 2099,
 'dialogue': 8748,
 'go': 13464,
 'overboard': 22512,
 'deviousness': 8699,
 'indirection': 16045,
 'learned': 18153,
 'alfred': 1265,
 'hitchcock': 14960,
 'value': 33674,
 'clarity': 5899,
 'mess': 20026,
 'probably': 24554,
 'uncalled': 32925,
 'stress': 30360,
 'large': 17980,
 'scale': 27467,
 'minutely': 20292,
 'organized': 22303,
 'hugely': 15330,
 'financed': 11949,
 'whom': 34770,
 'events': 10996,
 'under': 32990,
 'trade': 32280,
 'center': 5288,
 'oklahoma': 22071,
 'city': 5848,
 'bombings': 3815,
 'ruby': 27036,
 'ridge': 26612,
 'consciously': 6765,
 'or': 22259,
 'connects': 6735,
 'pictures': 23586,
 'invasion': 16600,
 'body': 3760,
 'snatchers': 29153,
 'stepford': 30086,
 'wives': 35007,
 'rosemary': 26930,
 'films': 11933,
 'seem': 27889,
 'rescuing': 26224,
 'total': 32207,
 'destruction': 8603,
 'performances': 23292,
 'convincing': 7004,
 'pain': 22733,
 'obsessions': 21922,
 'smooth': 29114,
 'would': 35157,
 'frightening': 12697,
 'credible': 7410,
 'clever': 5981,
 'casting': 5116,
 'ever': 11000,
 'charming': 5454,
 'wolf': 35027,
 'lamb': 17881,
 'clothing': 6068,
 'le': 18121,
 'mauvais': 19652,
 'gout': 13637,
 'mene': 19954,
 'au': 2359,
 'crime': 7457,
 'stendhal': 30080,
 'edwin': 10120,
 'jahiel': 16842,
 'reviews': 26479,
 'prairienet': 24254,
 'org': 22292,
 'ejahiel': 10210,
 'bunch': 4508,
 'less': 18300,
 'motion': 20774,
 'picture': 23584,
 'minor': 20279,
 'event': 10992,
 'forget': 12433,
 'your': 35397,
 'reruns': 26218,
 'nick': 21464,
 'nite': 21557,
 'recreation': 25690,
 'fabled': 11394,
 'seventies': 28124,
 'sitcom': 28753,
 'exhilarating': 11162,
 'disturbing': 9275,
 'half': 14197,
 'expect': 11203,
 'see': 27879,
 'ghost': 13251,
 'rod': 26809,
 'serling': 28072,
 'appear': 1807,
 'narrative': 21160,
 'act': 821,
 'twenty': 32739,
 'years': 35329,
 'ago': 1127,
 'course': 7258,
 'genius': 13145,
 'how': 15283,
 'heightens': 14664,
 'surreality': 30897,
 'family': 11524,
 'unit': 33243,
 'hell': 14694,
 'forwarding': 12506,
 '1995': 230,
 'greg': 13816,
 'still': 30154,
 'calls': 4775,
 'chicks': 5599,
 'groovy': 13902,
 'marsha': 19482,
 'considers': 6790,
 'hair': 14174,
 'brushing': 4368,
 'bell': 3157,
 'bottoms': 3968,
 'alice': 1271,
 'move': 20832,
 'changed': 5382,
 'within': 34987,
 'garish': 12984,
 'walls': 34313,
 'manor': 19329,
 'stepping': 30097,
 'real': 25502,
 'confronted': 6696,
 'everything': 11013,
 'carjackers': 4995,
 'lesbians': 18296,
 'granted': 13729,
 'serious': 28069,
 'happens': 14330,
 'exception': 11084,
 'heavy': 14621,
 'sexual': 28154,
 'innuendo': 16262,
 'sanitary': 27336,
 'source': 29445,
 'material': 19586,
 'betty': 3315,
 'thomas': 31768,
 'tv': 32726,
 'hill': 14899,
 'blues': 3692,
 'fame': 11516,
 'doesn': 9377,
 'cut': 7748,
 'life': 18428,
 'contrast': 6939,
 'glaring': 13375,
 'edge': 10083,
 'isn': 16753,
 'sharp': 28263,
 'know': 17682,
 're': 25473,
 'watching': 34434,
 'funky': 12814,
 'problem': 24560,
 'nor': 21636,
 'low': 18856,
 'standards': 29923,
 'uniformly': 33202,
 'appealing': 1804,
 'shelly': 28317,
 'long': 18733,
 'seems': 27894,
 'found': 12516,
 'niche': 21456,
 'awful': 2514,
 'gary': 13005,
 'cole': 6224,
 'right': 26641,
 'dad': 7817,
 'sing': 28709,
 'song': 29368,
 'truisms': 32607,
 'christine': 5722,
 'taylor': 31371,
 'kids': 17525,
 'she': 28287,
 'cheery': 5536,
 'delight': 8312,
 'ringer': 26663,
 'maureen': 19648,
 'mccormick': 19721,
 'foil': 12313,
 'jennifer': 16960,
 'elise': 10297,
 'cox': 7303,
 'howl': 15289,
 'brooding': 4320,
 'jan': 16863,
 'janeane': 16866,
 'garofalo': 12994,
 'romantic': 26869,
 'comedy': 6341,
 'idea': 15551,
 'truth': 32627,
 'cats': 5180,
 'dogs': 9392,
 'almost': 1343,
 'excruciating': 11118,
 'matchmaker': 19581,
 'plods': 23859,
 'along': 1345,
 'predestined': 24313,
 'surprises': 30888,
 'very': 33872,
 'few': 11822,
 'laughs': 18049,
 'jumps': 17244,
 'popular': 24067,
 'political': 23983,
 'satire': 27390,
 'bandwagon': 2719,
 'manages': 19243,
 'flat': 12128,
 'campaign': 4811,
 'aide': 1153,
 'massacusetts': 19538,
 'senator': 27969,
 'jay': 16916,
 'sanders': 27319,
 'reelection': 25763,
 'denis': 8412,
 'leary': 18157,
 'stereotypical': 30108,
 'strategist': 30323,
 'ethics': 10935,
 'decides': 8113,
 'scandal': 27480,
 'plagued': 23758,
 'win': 34880,
 'play': 23803,
 'irish': 16681,
 'roots': 26913,
 'cash': 5085,
 'boston': 3946,
 'catholic': 5174,
 'democrat': 8373,
 'contingent': 6903,
 'kennedy': 17454,
 'orders': 22282,
 'ireland': 16676,
 'dig': 8832,
 'relatives': 25946,
 'exploit': 11252,
 'soon': 29385,
 'learns': 18156,
 'why': 34787,
 'easier': 10012,
 'mantra': 19349,
 'like': 18468,
 'every': 11008,
 'wrong': 35222,
 'take': 31203,
 'tiny': 31988,
 'plane': 23767,
 'misses': 20402,
 'bus': 4584,
 'town': 32254,
 'get': 13222,
 'hotel': 15246,
 'room': 26899,
 'ends': 10541,
 'smallest': 29046,
 'trashiest': 32405,
 'dog': 9382,
 'piss': 23701,
 'luggage': 18913,
 'roger': 26828,
 'ebert': 10040,
 'cute': 7752,
 'romance': 26860,
 'man': 19237,
 'time': 31940,
 'unconventional': 32964,
 'cinematic': 5807,
 'walks': 34298,
 'bathroom': 2902,
 'nude': 21771,
 'sean': 27809,
 'david': 7984,
 'hara': 14337,
 'bathtub': 2905,
 'sitting': 28761,
 'points': 23937,
 'guessing': 13998,
 'water': 34437,
 'hates': 14466,
 'sight': 28601,
 'works': 35124,
 'these': 31717,
 'irishman': 16682,
 'hate': 14462,
 'awhile': 2517,
 'succumb': 30635,
 'charms': 5457,
 ...}

## Практика - шаг 2 - Сравнение моделей
Обучите модели
- логистическую регрессию
- kNN
- решающее дерево
Посчитайте для каждой модели качество на кросс-валидации

In [ ]:
# your code here

In [ ]:
lr = LogisticRegression(solver = 'liblinear')
knn = KNeighborsClassifier()
tree = DecisionTreeClassifier(max_depth=8)

print('LR', cross_val_score(lr, X_vect, y).mean())
print('KNN', cross_val_score(knn, X_vect, y).mean())
print('TREE', cross_val_score(tree, X_vect, y).mean())

LR 0.7949999999999999
KNN 0.6207142857142858
TREE 0.6242857142857143

## Практика - шаг 3 - Значимые слова
На логистической регрессии получите значимость признаков.

In [ ]:
# your code here

In [ ]:
lr = LogisticRegression(solver = 'liblinear').fit(X_vect, y)
lr.coef_[0]

array([-0.03024475, -0.09677732, -0.13205599, ...,  0.01056022,
        0.01316945,  0.00023238])

In [ ]:
vec.get_feature_names()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['00',
 '000',
 '007',
 '00749ece25ab063e882568de001da736',
 '01',
 '0195714',
 '02',
 '0215545',
 '0299',
 '03',
 '04',
 '05',
 '05pm',
 '06577663ed95e8618825695d00660958',
 '07',
 '08',
 '10',
 '100',
 '1000',
 '10021more',
 '100m',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '10s',
 '10th',
 '11',
 '110',
 '111',
 '112',
 '113',
 '1138',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '1198',
 '11th',
 '12',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '1298',
 '12th',
 '13',
 '130',
 '131',
 '132',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '13th',
 '14',
 '140',
 '142',
 '143',
 '144',
 '147',
 '14a',
 '14th',
 '15',
 '150',
 '150th',
 '151',
 '153',
 '155',
 '157',
 '158',
 '1583',
 '1590',
 '15somethingsomething',
 '15th',
 '16',
 '160',
 '1600',
 '1600s',
 '161',
 '1613',
 '162',
 '164',
 '165',
 '1660',
 '1662',
 '1680',
 '16mm',
 '16th',
 '16x9',
 '17',
 '170',
 '1709',
 '171',
 '172',
 '175',
 '177',
 '1770s',
 '1773',
 '178',
 '1791',
 '1792',
 '1793',
 '17th',
 '18',
 '180',
 '1800',
 '1800s',
 '1812',
 '182',
 '183',
 '1830s',
 '1839',
 '1847',
 '1862',
 '1869',
 '1870',
 '1871',
 '1876',
 '188',
 '1885',
 '1888',
 '189',
 '18th',
 '19',
 '190',
 '1900',
 '1900s',
 '1901',
 '1903',
 '1908',
 '1912',
 '1913',
 '1914',
 '1916',
 '1919',
 '192',
 '1920',
 '1920s',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1930',
 '1930s',
 '1932',
 '1933',
 '1934',
 '1935',
 '1937',
 '1938',
 '1939',
 '1940',
 '1940s',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1960s',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '1999brandon',
 '19th',
 '1hr',
 '1st',
 '20',
 '200',
 '2000',
 '2001',
 '2007',
 '2010',
 '2013',
 '2017',
 '2018',
 '2020',
 '2029',
 '2036',
 '2043',
 '2050',
 '2058',
 '206',
 '2065',
 '20redman',
 '20s',
 '20somethings',
 '20th',
 '21',
 '216',
 '2176',
 '21st',
 '22',
 '220',
 '222',
 '2293',
 '23',
 '2302',
 '234',
 '24',
 '2400',
 '2470',
 '24th',
 '25',
 '254',
 '25th',
 '26',
 '2679',
 '26min',
 '26th',
 '27',
 '27th',
 '28',
 '280',
 '2806678910bd05a588256896002ac2e9',
 '28093',
 '28th',
 '28up',
 '29',
 '2a460f93626cd4678625624c007f2b46',
 '2d',
 '2hr',
 '2nd',
 '30',
 '300',
 '3000',
 '30m',
 '30s',
 '31',
 '3160',
 '31st',
 '32',
 '33',
 '33m',
 '34',
 '3465',
 '34th',
 '35',
 '35mm',
 '36',
 '364',
 '37',
 '37th',
 '38',
 '38th',
 '39',
 '3blackchicks',
 '3d',
 '3kings',
 '3po',
 '40',
 '400',
 '40minsthe',
 '40s',
 '41',
 '42',
 '422',
 '4273eccb750e44ab882569680006d5fc',
 '43',
 '44',
 '45',
 '451',
 '46',
 '47',
 '48',
 '49',
 '4th',
 '4x4',
 '50',
 '500',
 '5000',
 '500th',
 '50mins',
 '50s',
 '51',
 '51st',
 '52',
 '53',
 '54',
 '54th',
 '55',
 '555',
 '56',
 '56k',
 '57',
 '571',
 '5713',
 '58',
 '59',
 '5th',
 '60',
 '600',
 '6000',
 '607',
 '60s',
 '61',
 '612',
 '62',
 '63',
 '64',
 '640',
 '65',
 '65th',
 '66',
 '666',
 '67',
 '68',
 '680',
 '69',
 '6sense',
 '6th',
 '6ѕ',
 '70',
 '700',
 '70ies',
 '70m',
 '70mm',
 '70s',
 '712',
 '72',
 '73',
 '74',
 '747',
 '7475',
 '747s',
 '75',
 '750',
 '7504',
 '7572ca225fc21c928825692700053f91',
 '76',
 '77',
 '779',
 '78',
 '79',
 '7bdd22b907aeefa0882569690006544d',
 '7th',
 '80',
 '800',
 '8000',
 '80s',
 '81',
 '82',
 '8216',
 '83',
 '84',
 '85',
 '86',
 '863rd',
 '87',
 '88',
 '89',
 '8m',
 '8mm',
 '8th',
 '90',
 '90210',
 '9061',
 '90s',
 '91',
 '911',
 '92',
 '93',
 '934998',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '997038ef028e021d882568b20015019d',
 '999',
 '_21_jump_street_',
 '_48_hrs',
 '_54_',
 '__',
 '___',
 '____',
 '_____',
 '___________________________',
 '__________________________________________',
 '____________________________________________',
 '__________________________________________________________',
 '________________________________________________________________',
 '_________________________________________________________________',
 '_______________________________________________________________________',
 '_a_night_at_the_roxbury_',
 '_am_',
 '_america',
 '_and_',
 '_are_',
 '_arrrgh_',
 '_bad_',
 '_before_',
 '_boom_',
 '_can',
 '_clearer_',
 '_cliffhanger',
 '_cliffhanger_',
 '_clueless_',
 '_crust',
 '_dancing_',
 '_dawson',
 '_daylight_',
 '_dead_man_',
 '_dead_man_on_campus_',
 '_dirty_work_',
 '_disturbing_behavior_',
 '_do_',
 '_doctor_dolittle_',
 '_does_',
 '_double_team_',
 '_dragon',
 '_dragonheart_',
 '_entertainment_weekly_',
 '_escape_from',
 '_exactly_',
 '_fifty_',
 '_fisherman',
 '_four_',
 '_full_house_',
 '_get_',
 '_giallo_',
 '_great_',
 '_h20_',
 '_halloween',
 '_happen_',
 '_hard_ware',
 '_has_',
 '_have_',
 '_here_',
 '_highly_',
 '_him_',
 '_holy_man_',
 '_home_alone_',
 '_hustler_',
 '_i_know',
 '_i_know_what_you_did_last_summer_',
 '_in_',
 '_is_',
 '_jerry_maguire_',
 '_knock_off_',
 '_last_',
 '_least_',
 '_long_',
 '_looks_',
 '_making_',
 '_many_',
 '_must_',
 '_not_',
 '_offscreen_',
 '_oh',
 '_onegin_',
 '_pecker_',
 '_people_',
 '_polish_wedding_',
 '_potential_',
 '_quite_',
 '_rambo_',
 '_reach_the_rock_',
 '_real_',
 '_really_',
 '_require_',
 '_roxbury_',
 '_saturday_night_live_',
 '_saved_by_the_bell_',
 '_scream_',
 '_scream_2_',
 '_snl_',
 '_soldier_',
 '_some_',
 '_somewhere_',
 '_still_',
 '_that_',
 '_the_',
 '_the_last_days_of_disco_',
 '_the_postman_',
 '_the_quest_',
 '_this_',
 '_too_',
 '_urban_legend_',
 '_very_small_',
 '_waiting_to_exhale_',
 '_will_',
 '_wishmaster_',
 '_would_',
 'a1',
 'a46c7fd38f94c1c0882569660003758e',
 'a798b7c8e97eb65c8825695900042829',
 'aa',
 'aa3c88368f877b5e8825695b00047bfd',
 'aaa',
 'aaaaaaaahhhh',
 'aaaaaah',
 'aaaal',
 'aah',
 'aaliyah',
 'aalyah',
 'aan',
 'aangekomen',
 'aankan',
 'aanneemt',
 'aanraking',
 'aardkloot',
 'aardman',
 'aaron',
 'aback',
 'abandon',
 'abandoned',
 'abandoning',
 'abandonment',
 'abandons',
 'abba',
 'abberation',
 'abberline',
 'abbitt',
 'abbott',
 'abbreviated',
 'abby',
 'abc',
 'abdomen',
 'abducted',
 'abduction',
 'abductions',
 'abdul',
 'abe',
 'abel',
 'aberdeen',
 'aberration',
 'abetted',
 'abhor',
 'abhorrent',
 'abider',
 'abiding',
 'abie',
 'abilities',
 'ability',
 'ablaze',
 'able',
 'ablility',
 'ably',
 'abnormaal',
 'abnormal',
 'aboard',
 'abode',
 'abolish',
 'abolitionist',
 'abolitionists',
 'abominable',
 'abomination',
 'aborigine',
 'abort',
 'aborted',
 'abortion',
 'abortionism',
 'abortionist',
 'abortions',
 'aborts',
 'aboslutely',
 'abound',
 'abounding',
 'abounds',
 'about',
 'abouts',
 'above',
 'abraham',
 'abrahams',
 'abrams',
 'abrasive',
 'abril',
 'abroad',
 'abrupt',
 'abruptly',
 'absconded',
 'absence',
 'absent',
 'absentee',
 'absinthe',
 'absoltuely',
 'absolut',
 'absolute',
 'absolutely',
 'absolution',
 'absolutly',
 'absolved',
 'absorb',
 'absorbed',
 'absorbing',
 'absorbs',
 'absorption',
 'abstract',
 'abstractions',
 'absurd',
 'absurdism',
 'absurdist',
 'absurdities',
 'absurdity',
 'absurdly',
 'abundance',
 'abundant',
 'abundantly',
 'abundence',
 'abuse',
 'abused',
 'abusers',
 'abuses',
 'abusing',
 'abusive',
 'abuzz',
 'abysmal',
 'abysmally',
 'abyss',
 'abyssinian',
 'ac',
 'acadamy',
 'academia',
 'academic',
 'academics',
 'academy',
 'accelerates',
 'accelerating',
 'accent',
 'accented',
 'accenting',
 'accents',
 'accentuate',
 'accentuated',
 'accentuates',
 'accentuating',
 'accept',
 'acceptable',
 'acceptably',
 'acceptance',
 'accepted',
 'accepting',
 'acception',
 'accepts',
 'access',
 'accessibility',
 'accessible',
 'accessorize',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accidently',
 'accidents',
 'acclaim',
 'acclaimed',
 'acclimatize',
 'accolade',
 'accolades',
 'accommodate',
 'accommodates',
 'accommodating',
 'accompanied',
 'accompanies',
 'accompaniment',
 'accompany',
 'accompanying',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplished',
 'accomplishes',
 'accomplishing',
 'accomplishment',
 'accomplishments',
 'accord',
 'accordance',
 'according',
 'accordingly',
 'accordion',
 'accost',
 'accosts',
 'account',
 'accountability',
 'accountable',
 'accountant',
 'accountants',
 'accounted',
 'accounts',
 'accumulate',
 'accumulated',
 'accumulates',
 'accumulation',
 'accuracy',
 'accurate',
 'accurately',
 'accusation',
 'accusations',
 'accusatory',
 'accuse',
 'accused',
 'accuses',
 'accusing',
 'accustomed',
 'ace',
 'acerbic',
 'aces',
 'acevedo',
 'ache',
 'acheives',
 'aches',
 'achieve',
 'achieved',
 'achievement',
 'achievements',
 'achiever',
 'achieves',
 'achieving',
 'achilles',
 'aching',
 'achingly',
 'achives',
 'achter',
 'achtervolgingen',
 'achtervolgt',
 'acid',
 'ack',
 'acking',
 'ackland',
 'acknowledge',
 'acknowledgeable',
 'acknowledged',
 'acknowledgement',
 'acknowledges',
 'acknowledging',
 'acknowledgment',
 'ackroyd',
 'acme',
 'acord',
 'acoustic',
 'acquaintance',
 'acquaintances',
 'acquainted',
 'acquiesce',
 'acquire',
 'acquired',
 'acquires',
 'acquisition',
 'acquit',
 'acquits',
 'acquittal',
 'acquitted',
 'acres',
 'acrimony',
 'acrobatics',
 'acrobats',
 'across',
 'act',
 'acted',
 'acteur',
 'acting',
 'action',
 'actionable',
 'actioner',
 'actioners',
 'actionfest',
 'actions',
 'activate',
 'activated',
 'active',
 'actively',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actors',
 'actorвђ',
 'actress',
 'actresses',
 'acts',
 'actual',
 'actuality',
 'actualizing',
 'actually',
 'acupuncture',
 'acute',
 'acutely',
 'ad',
 'ada',
 'adafarasin',
 'adage',
 'adair',
 'adam',
 'adamant',
 'adamantly',
 'adams',
 'adamson',
 'adapt',
 'adaptation',
 'adaptations',
 'adapted',
 'adapters',
 'adapting',
 'adaption',
 'adapts',
 'add',
 'addams',
 'added',
 'addenda',
 'addict',
 'addicted',
 'addiction',
 'addictive',
 'addictively',
 'addicts',
 'adding',
 'addition',
 'additional',
 'additionally',
 'additions',
 'additive',
 'addled',
 'address',
 'addressed',
 'addresses',
 'addressing',
 'adds',
 'addy',
 'adefarasin',
 'adelaide',
 'adeosun',
 'adept',
 'adeptly',
 'adeptness',
 'adequate',
 'adequately',
 'adhere',
 'adhered',
 'adherence',
 'adheres',
 'aditi',
 'adjacent',
 'adjani',
 'adjective',
 'adjectives',
 'adjoining',
 'adjust',
 'adjusting',
 'adjustments',
 'adjusts',
 'adlibbing',
 'administer',
 'administered',
 'administers',
 'administration',
 'administrators',
 'admirable',
 'admirably',
 'admiration',
 'admire',
 'admired',
 'admirer',
 'admirers',
 'admires',
 'admission',
 'admissions',
 'admit',
 'admitedly',
 'admits',
 'admittance',
 'admitted',
 'admittedly',
 'admitting',
 'admittingly',
 'admonition',
 'ado',
 'adolescence',
 'adolescent',
 'adolescents',
 'adolf',
 'adolfo',
 'adonis',
 'adopt',
 'adopted',
 'adopting',
 'adoption',
 'adoptive',
 'adopts',
 'adorable',
 'adorably',
 'adoration',
 'adore',
 'adored',
 'adoring',
 'adorned',
 'adorning',
 'adornments',
 'adr',
 'adrenalin',
 'adrenaline',
 'adress',
 'adrian',
 'adriana',
 'adrien',
 'adrienne',
 'adrift',
 'adroitly',
 'ads',
 'adulation',
 'adult',
 'adulterous',
 'adultery',
 'adulthood',
 'adultrous',
 'adults',
 'advance',
 'advanced',
 'advancement',
 'advancements',
 'advances',
 'advancing',
 'advantage',
 'advantages',
 'advent',
 'adventure',
 'adventurer',
 'adventures',
 'adventuresome',
 'adventuring',
 'adventurous',
 'adversarial',
 'adversary',
 'adverse',
 'adversely',
 'adversity',
 ...]

In [ ]:
weights = sorted(zip(vec.get_feature_names_out(), lr.coef_[0]), key = lambda x: x[1])
df_weights = pd.DataFrame(weights, columns=['token', 'weight'])
df_weights

          token    weight
0           bad -0.546157
1      director -0.486306
2         worst -0.422162
3        boring -0.421594
4      anything -0.412807
...         ...       ...
35585       job  0.349616
35586       fun  0.435355
35587      also  0.438250
35588      most  0.460606
35589     great  0.570433

[35590 rows x 2 columns]

## Практика - шаг 4 - улучшаем извлечение слов
Повторите шаги 1-2 с параметром **min_df** (минимальная частота слова, при котором оно учитывается).

Повторите шаги 1-2 с параметром **max_df** (максимальная частота слова, при котором оно учитывается).

Добавьте работу со стоп-словами

In [ ]:
# your code here

In [ ]:
vec = CountVectorizer(min_df = 3)
X_vect = vec.fit_transform(df['review'])
y = df['positive']
X_vect

lr = LogisticRegression(solver = 'liblinear')
knn = KNeighborsClassifier()
tree = DecisionTreeClassifier(max_depth=8)

print('LR', cross_val_score(lr, X_vect, y).mean())
print('KNN', cross_val_score(knn, X_vect, y).mean())
print('TREE', cross_val_score(tree, X_vect, y).mean())

LR 0.7949999999999999
KNN 0.6207142857142858
TREE 0.6178571428571429

In [ ]:
vec = CountVectorizer(min_df = 155)
X_vect = vec.fit_transform(df['review'])
y = df['positive']
X_vect

lr = LogisticRegression(solver = 'liblinear')
knn = KNeighborsClassifier()
tree = DecisionTreeClassifier(max_depth=8)

print('LR', cross_val_score(lr, X_vect, y).mean())
print('KNN', cross_val_score(knn, X_vect, y).mean())
print('TREE', cross_val_score(tree, X_vect, y).mean())

LR 0.7150000000000001
KNN 0.6285714285714286
TREE 0.6078571428571429

In [ ]:
vec = CountVectorizer(min_df = 3, max_df = 0.8)
X_vect = vec.fit_transform(df['review'])
y = df['positive']
X_vect

lr = LogisticRegression(solver = 'liblinear')
knn = KNeighborsClassifier()
tree = DecisionTreeClassifier(max_depth=8)

print('LR', cross_val_score(lr, X_vect, y).mean())
print('KNN', cross_val_score(knn, X_vect, y).mean())
print('TREE', cross_val_score(tree, X_vect, y).mean())

LR 0.8035714285714285
KNN 0.5785714285714286
TREE 0.615

In [ ]:
vec = CountVectorizer(min_df = 3, max_df = 0.8, stop_words='english')
X_vect = vec.fit_transform(df['review'])
y = df['positive']
X_vect

lr = LogisticRegression(solver = 'liblinear')
knn = KNeighborsClassifier()
tree = DecisionTreeClassifier(max_depth=8)

print('LR', cross_val_score(lr, X_vect, y).mean())
print('KNN', cross_val_score(knn, X_vect, y).mean())
print('TREE', cross_val_score(tree, X_vect, y).mean())

LR 0.8049999999999999
KNN 0.552142857142857
TREE 0.6157142857142858

## Практика - шаг 5 - Важность слов
Выполните ячейку ниже и проинтерпретируйте полученный результат.

Отмасштабируйте данные исходного датасета с помощью метода **tf-idf**  и повторите шаги 1-3.

Какой из  способов, опробованных выше, подойдет, чтобы улучшить полученный результат?
 Проверьте свою гипотезу.

In [ ]:
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]
vec = TfidfVectorizer()
X = vec.fit_transform(corpus)
print(vec.get_feature_names_out())

X.toarray()

['and' 'document' 'first' 'is' 'one' 'second' 'the' 'third' 'this']

array([[0.        , 0.46979139, 0.58028582, 0.38408524, 0.        ,
        0.        , 0.38408524, 0.        , 0.38408524],
       [0.        , 0.6876236 , 0.        , 0.28108867, 0.        ,
        0.53864762, 0.28108867, 0.        , 0.28108867],
       [0.51184851, 0.        , 0.        , 0.26710379, 0.51184851,
        0.        , 0.26710379, 0.51184851, 0.26710379],
       [0.        , 0.46979139, 0.58028582, 0.38408524, 0.        ,
        0.        , 0.38408524, 0.        , 0.38408524]])

In [ ]:
# your code here

In [ ]:
#тут был перебор нормального человека, а потом сделал перебор на больших числах

## Практика - шаг 6 - Порядок слов
Обучите логистическую регрессию на данных с эн-грамами, выведите значимые признаки

In [ ]:
# your code here

In [ ]:
vec = CountVectorizer(min_df = 3, max_df = 0.8, stop_words='english', ngram_range= (1, 2))
X_vect = vec.fit_transform(df['review'])
y = df['positive']
X_vect

lr = LogisticRegression(solver = 'liblinear')
knn = KNeighborsClassifier()
tree = DecisionTreeClassifier(max_depth=8)

print('LR', cross_val_score(lr, X_vect, y).mean())
print('KNN', cross_val_score(knn, X_vect, y).mean())
print('TREE', cross_val_score(tree, X_vect, y).mean())

LR 0.7587465564738293
KNN 0.5091460055096418
TREE 0.6038980716253444

In [ ]:
vec = CountVectorizer(min_df = 3, max_df = 0.8, stop_words='english', ngram_range = (2, 2))
X_vect = vec.fit_transform(df['review'])
y = df['positive']

lr = LogisticRegression(solver = 'liblinear').fit(X_vect, y)
weights = sorted(zip(vec.get_feature_names(), lr.coef_[0]), key = lambda x: x[1])
df_weights = pd.DataFrame(weights, columns = ['token', 'weight'])
df_weights

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

               token    weight
0         make sense -0.805684
1         waste time -0.664692
2         rest movie -0.641465
3          bad movie -0.631716
4          hour half -0.576166
...              ...       ...
4247  disney studios  0.530375
4248      matt damon  0.533014
4249      story line  0.564550
4250  drew barrymore  0.584503
4251        don want  0.597871

[4252 rows x 2 columns]

## Практика - шаг 7 - Оптимизация
С помощью решетчатого поиска подберите оптимальные значения моделей, обучите с ними модели, посчитайте качество и выведите значимые признаки.

In [ ]:
# your code here

In [ ]:
from sklearn.pipeline import Pipeline

vec = CountVectorizer()
lr = LogisticRegression(solver='liblinear')

pipe = Pipeline(steps = [('vec', vec), ('lr', lr)])

X = df['review']
y = df['positive']
pipe.fit(X, y)
cross_val_score(pipe, X, y).mean()

0.7487465564738293

In [ ]:
vec = CountVectorizer()
lr = LogisticRegression(solver='liblinear')

pipe = Pipeline(steps = [('vec', vec), ('lr', lr)])

params = {'vec__max_df': np.arange(0.8, 1, 0.1),
       'vec__min_df': np.arange(0.01, 0.3, 0.1),
       'vec__ngram_range': [(1, 1), (1, 2)],
       'lr__C': np.arange(0.1, 0.2, 0.1),
       }

gs = GridSearchCV(pipe, params, n_jobs = -1, verbose = 1)

X = df['review']
y = df['positive']

gs.fit(X, y)
gs.best_score_, gs.best_params_

Fitting 5 folds for each of 12 candidates, totalling 60 fits

(0.7653856749311295,
 {'lr__C': 0.1,
  'vec__max_df': 0.8,
  'vec__min_df': 0.01,
  'vec__ngram_range': (1, 1)})

## Практика - шаг 8 - Обработка естественного языка
- С помощью библиотеки **nltk** (Natural Language Toolkit) для примера текста выделите токены в виде слов, затем в виде предложений.
- Проведите нормализацию слов для примера текста

Для исходного датасета с отзывами на фильмы:
- Выделите токены-слова
- Проведите нормализацию слов
- Удалите знаки препинания и переведите все слова в нижний регистр
- Векторизуйте нормализованный текст с масштабированием
- Обучите логистическую регрессию и посчитайте метрику качества на кросс-валидации
- Выведите значимые признаки

In [ ]:
data = '''Natural language processing (NLP) is a subfield of linguistics, computer science,
and artificial intelligence concerned with the interactions between computers and
human language, in particular how to program computers to process and analyze
large amounts of natural language data. The result is a computer capable of "understanding"
the contents of documents, including the contextual nuances of the language within them.
The technology can then accurately extract information and insights contained in
the documents as well as categorize and organize the documents themselves. '''

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
# your code here

In [ ]:
words = word_tokenize(data)
words

['Natural',
 'language',
 'processing',
 '(',
 'NLP',
 ')',
 'is',
 'a',
 'subfield',
 'of',
 'linguistics',
 ',',
 'computer',
 'science',
 ',',
 'and',
 'artificial',
 'intelligence',
 'concerned',
 'with',
 'the',
 'interactions',
 'between',
 'computers',
 'and',
 'human',
 'language',
 ',',
 'in',
 'particular',
 'how',
 'to',
 'program',
 'computers',
 'to',
 'process',
 'and',
 'analyze',
 'large',
 'amounts',
 'of',
 'natural',
 'language',
 'data',
 '.',
 'The',
 'result',
 'is',
 'a',
 'computer',
 'capable',
 'of',
 '``',
 'understanding',
 "''",
 'the',
 'contents',
 'of',
 'documents',
 ',',
 'including',
 'the',
 'contextual',
 'nuances',
 'of',
 'the',
 'language',
 'within',
 'them',
 '.',
 'The',
 'technology',
 'can',
 'then',
 'accurately',
 'extract',
 'information',
 'and',
 'insights',
 'contained',
 'in',
 'the',
 'documents',
 'as',
 'well',
 'as',
 'categorize',
 'and',
 'organize',
 'the',
 'documents',
 'themselves',
 '.']

In [ ]:
words =  sent_tokenize(data)
words

['Natural language processing (NLP) is a subfield of linguistics, computer science, \nand artificial intelligence concerned with the interactions between computers and \nhuman language, in particular how to program computers to process and analyze \nlarge amounts of natural language data.',
 'The result is a computer capable of "understanding" \nthe contents of documents, including the contextual nuances of the language within them.',
 'The technology can then accurately extract information and insights contained in \nthe documents as well as categorize and organize the documents themselves.']

In [ ]:
#НОРМАЛИЗАЦИЯ

In [ ]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
words =  sent_tokenize(data)

stemm = SnowballStemmer('english')
s_words = [stemm.stem(w) for w in words]

z = zip(words, s_words)
pd.DataFrame(z, columns = ['original', 'Stem'])[:20]

,original,Stem
0,Natural language processing (NLP) is a subfiel...,natural language processing (nlp) is a subfiel...
1,"The result is a computer capable of ""understan...","the result is a computer capable of ""understan..."
2,The technology can then accurately extract inf...,the technology can then accurately extract inf...

In [ ]:
words =  sent_tokenize(data)

stem = SnowballStemmer('english')
s_words = [stem.stem(w) for w in words]

lemm = WordNetLemmatizer()
l_words = [lemm.lemmatize(w) for w in words]

z = zip(words, s_words, l_words)
pd.DataFrame(z, columns = ['original', 'Stem', 'Lem'])[20:40]

Empty DataFrame
Columns: [original, Stem, Lem]
Index: []

In [ ]:
#Для примера рассмотрели работы разных способ приведения слова к начальной форме
#МЫ НЕ ЧИСТИЛИ НАБОР ДАННЫХ!!!!!!

def clean(data):

  #убраить точки, запятые, знаки...
  #привести к нижнему регистры
  #удаление окончаний

  return cleaned_data

## Практика - шаг 9 - Работа с русским языком

In [ ]:
data_rus = '''Вчера после работы заскочила в Магнит за продуктами. Передо мной на кассу стояла женщина с сынишкой лет 5. Все время, пока мы ждали своей очереди, ребенок канючил:
— Ма-а-ам, я хочу большой Киндер! Давай купим большой Киндер! Ну ма-а-ам, купи!
Уставшая от этих стонов женщина обернулась к сыну и указала на лежащий на ленте сверток.
— Нет, не куплю. Ты же видишь, мы сегодня купили конфеты!
— Ну да, да... — горестно вздохнул ребятенок, но уже в следующий момент в его глазах засветилась неугасимая надежда. — Но ведь КОГДА-НИБУДЬ ты мне его обязательно купишь, правда?!
И, окрыленный этой мыслью, он вприпрыжку поскакал за уже расплатившейся матерью, радостно улыбаясь всем вокруг.
Эх, как все-таки мало детям надо для счастья.'''

In [ ]:
stem = SnowballStemmer('russian')
stem.languages

('arabic',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'hungarian',
 'italian',
 'norwegian',
 'porter',
 'portuguese',
 'romanian',
 'russian',
 'spanish',
 'swedish')

In [ ]:
w_rus = word_tokenize(data_rus)
w_rus_orig = sent_tokenize(data_rus)

stemm = SnowballStemmer('russian')
s_words = [stemm.stem(w) for w in w_rus]

z = zip(w_rus_orig, s_words)
pd.DataFrame(z, columns = ['original', 'Stem'])[:20]

                                             original     Stem
0   Вчера после работы заскочила в Магнит за проду...     вчер
1   Передо мной на кассу стояла женщина с сынишкой...     посл
2   Все время, пока мы ждали своей очереди, ребено...    работ
3                         Давай купим большой Киндер!   заскоч
4                                   Ну ма-а-ам, купи!        в
5   Уставшая от этих стонов женщина обернулась к с...     магн
6                                    — Нет, не куплю.       за
7            Ты же видишь, мы сегодня купили конфеты!  продукт
8   — Ну да, да... — горестно вздохнул ребятенок, ...        .
9   — Но ведь КОГДА-НИБУДЬ ты мне его обязательно ...    перед
10  И, окрыленный этой мыслью, он вприпрыжку поска...      мно
11      Эх, как все-таки мало детям надо для счастья.       на

In [ ]:
!pip install pymorphy2
import pymorphy2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymorphy2
  Downloading pymorphy2-0.9.1-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.5/55.5 KB 2.4 MB/s eta 0:00:00
Collecting docopt>=0.6
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Collecting dawg-python>=0.7.1
  Downloading DAWG_Python-0.7.2-py2.py3-none-any.whl (11 kB)
Collecting pymorphy2-dicts-ru<3.0,>=2.4
  Downloading pymorphy2_dicts_ru-2.4.417127.4579844-py2.py3-none-any.whl (8.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.2/8.2 MB 47.0 MB/s eta 0:00:00
Building wheels for collected packages: docopt
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13723 sha256=9ac404c80ce0ba04115f3d0283dc83709192b0c75185fe68900c32f09d891258
  Stored in directory: /root/.cache/pip/wheels/56/ea/58/ead137b087d9e326852a851351d1debf4ada529b6ac0ec4e8c
Successfully built docopt
Installing collected packages: pymorphy2-dicts-ru, docopt, dawg-python, pymorphy2
Successfully installed dawg-python-0.7.2 docopt-0.6.2 pymorphy2-0.9.1 pymorphy2-dicts-ru-2.4.417127.4579844

In [ ]:
w_rus = word_tokenize(data_rus)
w_rus_orig = sent_tokenize(data_rus)
w_lem_rus = word_tokenize(data_rus)

stemm = SnowballStemmer('russian')
s_words = [stemm.stem(w) for w in w_rus]

morph = pymorphy2.MorphAnalyzer()
w_lem_rus = [morph.normal_forms(word)[0] for word in w_lem_rus]

z = zip(w_rus_orig, s_words, w_lem_rus)
pd.DataFrame(z, columns = ['original', 'Stem', 'Lem'])[:20]

                                             original     Stem        Lem
0   Вчера после работы заскочила в Магнит за проду...     вчер      вчера
1   Передо мной на кассу стояла женщина с сынишкой...     посл      после
2   Все время, пока мы ждали своей очереди, ребено...    работ     работа
3                         Давай купим большой Киндер!   заскоч  заскочить
4                                   Ну ма-а-ам, купи!        в          в
5   Уставшая от этих стонов женщина обернулась к с...     магн     магнит
6                                    — Нет, не куплю.       за         за
7            Ты же видишь, мы сегодня купили конфеты!  продукт    продукт
8   — Ну да, да... — горестно вздохнул ребятенок, ...        .          .
9   — Но ведь КОГДА-НИБУДЬ ты мне его обязательно ...    перед      перед
10  И, окрыленный этой мыслью, он вприпрыжку поска...      мно          я
11      Эх, как все-таки мало детям надо для счастья.       на         на

In [ ]:
pd.DataFrame(z, columns = ['original', 'Stem', 'Lem'])[20:40]

Empty DataFrame
Columns: [original, Stem, Lem]
Index: []